.App {
  margin: 0px;
}

.header{
  height: 60px;
  width: 100vw;
  background-color: transparent;
}

.head-task{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.past-days{
  display: flex;
}

.task{
  margin-right: 5px;;
}